body {
  background-color: #e4e9eb;
}

i {
  font-size: 5em;
  color: red;
}

.card {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  padding: 5px;
}

.redText {
  color: red;
}

#redBar {
  background-color: red;
  height: 5px;
}